html, body {margin: 0; height: 100%; overflow: hidden}

.header-navbar {
  list-style-type: none;
  overflow: hidden;
  font-size: 14px;
  text-decoration: none; 
  padding-right: 2%;  
}

.header-navbar-left {
    float: left;
    padding-left: 15px;
    color: #000;
}

.header-navbar-right {
    float:right;
    padding-left: 15px;
    color: #000;
}

.central { 
    
    height: 30%;

    position: absolute;
    top: 38%;
    left: 25%;
    overflow: hidden;
    padding-top: 0%;
    padding-left: 0%;
}
.central-buttons{
    position: relative;
    top: 25%;
    left: 22%;  
    
}

#logo {
    position: relative;
    top: 0%;
    left: 45%;  
}

#search {
    position: relative;
    top: 12%;
    left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 50%;
    padding-left: 0%;
}

.footer-navbar {
    list-style-type: none;
    overflow: hidden;
    font-size: 14px;
    background-color: #f2f2f2;
    margin-top: 41%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 0%;
    
}

.footer-navbar-left {
    float:left;
    padding-left: 15px;
    color: #70757a;
}

.footer-navbar-right {
    float:right;
    padding-left: 15px;
    color: #70757a;
}